<h1>New User</h1>
<%= form_for @changeset, Routes.user_path(@conn, :create), fn f -> %>
    <%= if @changeset.action do %>
        <div>
            <div class="alert alert-danger">
                <p>Oops, something went wrong! Please check the errors below.</p>
            </div>
        </div>
    <% end %>
    <div>
        <%= input f, :name, placeholder: "Name" %>
    </div>

    <div>
        <%= input f, :username, placeholder: "Username" %>
    </div>

    <div>
        <%= inputs_for f, :credential, fn cf -> %>
            <%= input cf, :email, type: :email_input, placeholder: "Email" %>
            <%= input cf, :password, type: :password_input, placeholder: "Password" %>
        <% end %>
    </div>

    <%= submit "Create User" %>
<% end %>