<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Working</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
</head>
<body>
<header>
  <section class="container">
    <nav role="navigation">
      <ul>
        <%= if @current_user do %>
          <li><%= @current_user.username %></li>
          <li>
            <%= link "Log out" ,
              to: Routes.session_path(@conn, :delete, @current_user),
              method: :delete %>
          </li>
        <% else %>
          <li><%= link "Register", to: Routes.user_path(@conn, :new) %></li>
          <li><%= link "Log in", to: Routes.session_path(@conn, :new) %></li>
        <% end %>
      </ul>
    </nav>
  </section>
</header>
<main role="main" class="container">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= render @view_module, @view_template, assigns %>
</main>
<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>
</html>
